body {
  background-color: #b6c6e7;
  font-family: "Bellota", cursive;
  overflow-x: hidden;
}
h1 {
  text-align: center;
  font-size: 44px;
}

.form {
  width: 180px;
  text-align: center;
}
.all_column {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 26px;
}
.column_border {
  border: 1px solid #c4daf2;
  border-radius: 25px;

  background-color: #c4daf2;
  width: 400px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pol {
  padding: 10px;
  border-radius: 5px;
}
.input {
  border: none;
  border-bottom: 1px solid black;
  background-color: #c4daf2;
}
.result {
  border-radius: 5px;
  padding: 5px 15px;
  cursor: pointer;
}
.woman {
  width: 500px;
  height: 550px;
  position: relative;
  top: 90px;
}
.hidden {
  display: none;
}
.kkal {
  text-align: center;
}
/* okno snizy */
.compliment {
  padding-left: 100px;
  font-size: 25px;
}
.pitanie {
  background-color: #c4daf2;
  width: 2000px;
  height: 250px;
  margin: 0 auto;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
}
.hidden2 {
  display: none;
}

.nedelya {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 70px;
  padding-left: 30px;
}
.monday_food,
.tuesday_food,
.wednesday_food,
.thursday_food,
.friday_food,
.weekend_food {
  display: flex;
  align-items: center;
  padding-left: 250px;
  gap: 40px;
  text-align: center;
}
.box {
  width: 150px;
  height: 150px;
}
.praghy_monday,
.praghy_tuesday,
.praghy_wednesday,
.praghy_thursday,
.praghy_friday,
.praghy_weekend {
  display: none;
}
.ramka {
  background-color: rgba(255, 255, 255, 0.13);
  border: 1px solid rgba(85, 90, 114, 0.651);
  border-radius: 10px;
  box-shadow: 10%;
  padding: 5px;
  width: 220px;
  height: 150px;
  font-size: 20px;
}
