body {
  background-color: #b6c6e7;
  font-family: "Bellota", cursive;
}
h1 {
  text-align: center;
  font-size: 56px;
}
.davai {
 
}
.all_column {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.column_border {
  border: 1px solid #c4daf2;
  border-radius: 25px;
  padding: 30px;
  background-color: #c4daf2;
  width: 250px;
  height: 250px;
}

.input {
  border: none;
  border-bottom: 1px solid black;
  background-color: #c4daf2;
}
.woman {
  width: 350px;
  height: 350px;
}
.kkal {
  display: none;
}
